h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
}

/* Aplica el box-sizing globalmente para evitar problemas de cálculo de ancho con el padding */
* {
    box-sizing: border-box;
}

.banner-img {
    display: block;  /* Convierte la imagen en un elemento de bloque */
    margin-left: auto;
    margin-right: auto;
    /* O la forma abreviada: */
    /* margin: 0 auto; */

    max-width: 100%;
    height: auto;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Establece el ancho del contenedor de cada producto */
.producto {
    border: 1px solid #ccc;
    padding: 10px;
    width: 24%;
}

/* Asegúrate de que las imágenes se ajusten al contenedor del producto */
.producto img {
    max-width: 100%;
    /* La clave para que la imagen se adapte al 100% del ancho del 'article' */
    height: auto;
    /* Mantiene la proporción de la imagen */
}